<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<body>

<a th:href="@{/courses}">Quay về</a>
<h1>Course Form Page</h1>

<form th:action="@{/courses}" method="post" th:object="${course}">

    <div th:if="${course.id != null}">
        <input type="hidden" th:field="*{id}">
    </div>

    <div>
        <label>className</label>
        <input th:field="*{className}">
    </div>

    <div>
        <label>subject</label>
        <input th:field="*{subject}">
    </div>

    <div>
        <label>noOfStudents</label>
        <input th:field="*{noOfStudents}" type="number">
    </div>

    <div>
        <label>startDate</label>
        <input th:field="*{startDate}" type="date">
    </div>

    <div>
        <label>endDate</label>
        <input th:field="*{endDate}" type="date">
    </div>


    <button type="submit">Save</button>

</form>


</body>
</html>