<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<h1>HOME PAGE</h1>
<h3>Xin chào <span th:text="${name}"></span></h3>
<p>Vai trò cua ban la <span th:text="${role}"></span></p>

<form th:action="@{/logout}" method="post">
    <button type="submit">Đăng xuất</button>
</form>

<div th:if="${role.contains('ROLE_ADMIN')}">
    <a href="/projects/form">Thêm dự án mới</a>
</div>

<table border="1" width="80%" style="margin-top: 1rem">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>startDate</th>
        <th>dueDate</th>
        <th>budget</th>
        <th>actions</th>
    </tr>

    <tr th:each="p : ${projects}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.startDate}"></td>
        <td th:text="${p.dueDate}"></td>
        <td th:text="${p.budget}"></td>
        <td>

            <a th:href="@{/projects/form(id=${p.id})}">Edit</a>
            <form th:action="@{/projects/delete/{id}(id=${p.id})}" method="post">
                <button type="submit">Xóa</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>